::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: gray;
}

::-webkit-scrollbar {
  width: 12px;
	background-color: #F5F5F5;
}
/* -----------NavBAR------------- */

.navbar {
    background-color:#0077ff71;
  }
  .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin-left: 15px;
    font-weight: 400;
  }
  .nav-link:hover {
    color: #fff;
  }
  
  .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: 1;
    border-top: 1px solid white;
    animation: grow 0.5s linear;
    animation-fill-mode: forwards;
  }
  .navbar-nav .nav-link.active {
    color: white;
    border-bottom: solid 1px white;
  }
  
  @keyframes grow {
    100% {
      width: 80%;
    }
  }
 /* -----------Header------------- */

.HeaderBlog{
    height: 50vh;
background-image: linear-gradient(
    #0077ffab,
    #0077ffab
    ),
    url(https://alfaroukroute.github.io/Devfolio/assets/img/overlay-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;}
  .bottomtextInHeader{
    color: #ffffffc9;
  }
.bottomtextInHeader a{
    color: #ffffffcf;
text-decoration: none;
}
  
 /* -----------fixedBtn------------- */
.fixedBtn{
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #0078ff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  
  .fixedBtn:active{
    visibility: visible;
    opacity: 1;
  }
  

  .blogcontent ul{

    position: relative;
    list-style: none;
  }
  .blogcontent ul li{
    display: inline;
  }

  .blogcontent .texts::before
  {
    content: '';
    position: absolute;
    top: 4%;
    left: 2%;
    width: 0.5%;
    height: 100%;
    background-color: #0078ff;
  }
  .bigtitle{
    padding-left: 20px;
    position: relative;
    font-size: 20px;
    font-style: italic;
    color: rgb(79, 78, 78);
  }

  .bigtitle::before{
position: absolute;
    content: '';
    top: -10px;
    left:-1px;
    width: 0.5%;
    height: 210%;
    background-color: #0078ff;
  }

  .commentsTitle{
    padding-bottom: 10px;
    position: relative;
  }
  .commentsTitle::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 2px;

    background-color: #0078ff;
  }
  .searchicon {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #0078ff;
    color: #fff;
  }

  .searchTitle{
    position: relative;
  }
  .searchTitle::after{
    content: '';
    position: absolute;
    top: 15%;
    left: -10px;
    width: 1%;
    height: 90%;

    background-color: #0078ff;
  }

 .liststyle{
    color: #0078ff;
  }
  .TitleInRight{
    position: relative;

  }
  .TitleInRight::after{
    position: absolute;
content: '';
    top: 15%;
    left: -10px;
    width: 1%;
    height: 90%;

    background-color: #0078ff;
  }

  /* -----------footer------------- */

.footer
{
  background-color: #0062d3;
}